include setup.py
include requirements/archive.txt
recursive-include configs *.json
recursive-include projects *.yaml *.json
recursive-include src/pilot_proxy/instruments *.yaml
recursive-include src/pilot_proxy/characterization/schemas *.json
include weights/chime_dtv_weights_k128.bin
include weights/chime_dtv_weights_k128.bin.manifest.json
include weights/chord_dtv_weights_k64.bin
include weights/chord_dtv_weights_k64.bin.manifest.json
